@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 14px;
	background-color: #222;
	color: #cccccc;
}

.float-container {
	display: flex;
	align-items: stretch;
	margin-bottom: 10px;
	width: 1280px
}

.float-child {
	float: left;
	margin-right: 10px;
	padding: 10px;
	border-radius: 20px;
	background-color: #333333;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

button {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	background-color: #b88728;
	color: white;
	padding: 10px;
	margin-right: 5px;
	width: 150px;
	border: 0px;
	border-radius: 20px;
}

.lightblue {
	background-color: #1e8ad6;
}

.red {
	background-color: #a02f21;
}

.blue {
	background-color: #30429c;
}

.leaflet-tooltip {
    background-color: white;
    font-size: x-large;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 0;
}

.color1 {
	background-color: #264653;
	color: #fff;
	border: 2px solid #fff;
}

.color6 {
	background-color: #287271;
	color: #fff;
	border: 2px solid #fff;
}

.color5 {
	background-color: #2A9D8F;
	color: #fff;
	border: 2px solid #fff;
}

.color3 {
	background-color: #8AB17D;
	color: #fff;
	border: 2px solid #fff;
}

.color7 {
	background-color: #C6A75A;
	color: #fff;
	border: 2px solid #fff;
}

.color4 {
	background-color: #F4A261;
	color: #fff;
	border: 2px solid #fff;
}

.color2 {
	background-color: #E76F51;
	color: #fff;
	border: 2px solid #fff;
}

.colorDefult {
	background-color: gray;
	color: #fff;
	border: 2px solid #fff;
}