@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #222;
	color: #cccccc;
}

.float-child {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
	background-color: #25337b;
	color: white;
	padding: 15px;
	border-radius: 20px;
}

button {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	background-color: #b88728;
	color: white;
	padding: 7px 10px 7px 10px;
	width: 125px;
	border-radius: 20px;
}

.lightblue {
	background-color: #1e8ad6;
}

.red {
	background-color: #a02f21;
}

.leaflet-tooltip {
    background-color: white;
    font-size: x-large;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 0;
}

.leaflet-tooltip.AUSS, .WEST {
    background-color: #F09EA7;
}

.leaflet-tooltip.LFKS, .NORTH {
    background-color: #CDABEB;
}

.leaflet-tooltip.CRPS {
    background-color: #F6CA94;
}

.leaflet-tooltip.LCHS, .SOUTH {
    background-color: #C1EBC0;
}

.leaflet-tooltip.NEWS, .EAST {
    background-color: #FAFABE;
}

.leaflet-tooltip.OCNS {
    background-color: #C7CAFF;
}

.leaflet-tooltip.RSGS {
    background-color: #F6C2F3;
}