@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 14px;
	background-color: #222;
	color: #cccccc;
}

.float-container {
	display: flex;
	align-items: stretch;
	margin-bottom: 20px;
	width: 1280px
}

.float-child {
	float: left;
	margin-right: 10px;
	padding: 10px;
	border-radius: 20px;
	background-color: #333333;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

button {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	background-color: #b88728;
	color: white;
	padding: 10px;
	margin-right: 5px;
	width: 150px;
	border: 0px;
	border-radius: 20px;
}

.lightblue {
	background-color: #1e8ad6;
}

.red {
	background-color: #a02f21;
}

.blue {
	background-color: #30429c;
}

#map {
	padding: 10px;
	border: 8px solid gray;
	margin-bottom: 20px;
}


.leaflet-tooltip {
    background-color: white;
    font-size: x-large;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 0;
}

.leaflet-tooltip.AUSS, .WEST {
    background-color: tomato;
}

.leaflet-tooltip.LFKS, .NORTH {
    background-color: dodgerblue;
}

.leaflet-tooltip.CRPS, .SOUTH {
    background-color: orange;
}

.leaflet-tooltip.LCHS {
    background-color: mediumseagreen;
}

.leaflet-tooltip.NEWS, .EAST {
    background-color: khaki;
}

.leaflet-tooltip.OCNS {
    background-color: slateblue;
}

.leaflet-tooltip.RSGS {
    background-color: lightpink;
}