@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 14px;
	background-color: #222;
	color: #cccccc;
}

.float-container {
	display: flex;
	align-items: stretch;
	margin-bottom: 20px;
	width: 1280px
}

.float-child {
	float: left;
	margin-right: 10px;
	padding: 10px 30px 10px 30px;
	border-radius: 20px;
	background-color: #333333;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

button {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	background-color: #b88728;
	color: white;
	padding: 7px 10px 7px 10px;
	margin-right: 5px;
	width: 125px;
	border: 0px;
	border-radius: 20px;
}

.lightblue {
	background-color: #1e8ad6;
}

.red {
	background-color: #a02f21;
}

tr:nth-child(odd) {
	background-color: #444;
}

tr:nth-child(even) {
	background-color: #555;
}

td {
	padding: 0px 10px 0px 10px;
	border: 1px solid #222;
}


.leaflet-tooltip {
    background-color: white;
    font-size: large;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 0;
}